* {
    margin: 0;
    padding: 0;
}



$brand-color: rgb(76, 10, 241);
$brand-color-light: rgb(149, 10, 241);
$green: rgb(0, 255, 0);
$red: rgb(255, 0, 0);

.green {
    color: $green !important;
}

.red {
    color: $red !important;
}

.brand-light {
    color: $brand-color-light !important;
}



body {
    background: #333;
    color: #eeeeee;
    font-family: 'Baloo Bhaijaan 2', cursive;
    overflow: hidden;
    font-size: 16px;
}

ul.songList,
ul.songList li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

ul.songList {
    left: 8px;
    bottom: 0;
    position: absolute;
    height: 120px;

    li {
        height: 30px;
        text-align: left;
        width: 100%;
        height: 100%;
        left: 0;
        white-space: nowrap;
        opacity: 1;
        transition: all 1s ease;
        position: relative;
        padding-left: 30px;
    }

    li::before {
        content: '';
        display: block;
        position: absolute;
        height: 150%;
        width: 200px;
        background: rgba(127, 79, 248, 1);
        border-radius: 100%;
        transform: translateX(-110%) translateY(-23%);
        filter:blur(30px);
    }

    #statusBox, #song, #artist, #requester {
        transition: all 0.8s ease-in-out;
        opacity: 1;
        width:100%;
    }

    #statusBox {
        position: absolute;
        display: block;
        top: -85px;
        left: -8px;
        background-color: rgba(0, 0, 0, 0.8);
        background: linear-gradient(90deg, rgba(127, 79, 248, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
        color: black;
        padding: 18px 100px 12px 15px;
        font-size: 2.8rem;
        font-style: italic;
        color: white;
        transition-delay: 0.5s;

        &.out {
            transition-delay:0s;
            opacity:0;
        }
    }

    #song.hidden, #artist.hidden, #requester.hidden {
        transition: none;
        transform: translateX(25%);
        opacity:0;
    }

    #song.out, #artist.out, #requester.out {
        transform: translateX(-40%);
        opacity:0;
    }

    #song {
        display: inline-block;
        font-size: 2.8rem;
    }

    #artist {
        padding-left: 0px;
        font-size: 2.4rem;
        padding: 5px;
        margin-left: 4px;
        transition-delay: 0.1s;

        .by {
            font-size: 2.2rem;
            font-style: italic;
        }
    }

    #requester {
        font-size: 1.5rem;
        font-style: italic;
        padding: 3px;
        opacity: 0.8;
        transition-delay: 0.15s;
    }
}



ul.streamInfo {
    display:block;
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 400px;
    height: 115px;
    font-size: 3rem;
    line-height: 1;
    transform: translateX(-50%);

    li {
        text-decoration: none;
        list-style: none;
        text-align: center;
        font-size:2.6rem;
        line-height:3rem;
    }

    li.song_request_status {
        margin-top: -3px;


        span {
            color: $brand-color-light;
            font-weight: 900;
            font-size: 2.6rem;
        }
    }

    li.queue_status {
        span {
            color: $brand-color-light;
            font-weight: 900;
        }
        span.curr_song_count {
            font-size: 2.6rem;
        }
        span.max_song_count {
            font-size: 2.6rem;
        }
    }

    li.separator {
        height: 2px;
        background: $brand-color;
        margin: 4px 0px 6px 0px;
    }
}


#bottomBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 140px;
    background-color: rgba(0,0,0,0.9);
    z-index: -1;
    overflow-x: hidden;
    border-top: 1px solid $brand-color;
}

canvas {
    position: absolute;
    opacity: 0.8;
    height: 140px;
    bottom:0;
    left:0;
    display: block;
    filter: blur(6px) drop-shadow(0 0 30px rgba(51, 180, 172, 1));
    transform-origin: 0 100%;
    transform: skewX(-20deg);
    animation: fadein 6s 1;
    // background:rgba(83, 155, 74, 0.7)
}






